* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

header h1 {
  margin: 10px;
}

main {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 30px;
}

main .overall {
  width: 100%;

  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
}

.overall .summaryStats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overall span {
  color: blue;
}

.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.rawData {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 10px;
}